*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #141414;
    color: white;
    width: 100vw;
   @import "./partials/banner";       
   @import "./partials/row";
   @import "./partials/header" ;
}