.banner{
    height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        display: block;
        width: 40%;
    }
        button{
            background-color: rgba(80,81,82,0.4);
            color: white;
            padding: 0 15px;
            height: 25px;
            font-weight: 900;
            margin: 25px;
            border-radius: 5px;
        }
} 