.header{
    position: fixed;
    top: 0%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    background: linear-gradient(rgb(0, 0, 0) 25% , transparent 100%);
.navigation{
    display: flex;
    flex-direction: row;
    .nav-logo{
object-fit: contain;
width: 90px;
    }
    ul{
        margin: 10px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    li{
        margin:15px;
        cursor:pointer;
    }
    li:hover{
        color : red;
    }
    }
}
.profil{
    display: flex;
    flex-direction: row;
    margin: 25px 40px;
}
}